body{
    background-color: antiquewhite;
}
.vision{
    background-color: rgb(0, 0, 0);
    height: 100px;
    text-align: center;
    color: aliceblue;
    padding-top: 15px;
}
.visioncontent{
   padding-left: 50px;
   
}
.mis{
    margin: auto;
}