body{
    text-align: center;
    /* background-image: url("photo2.png"); */
}

.wecan{
    background-color: rgb(3, 3, 44);
}

h1{
    color: aliceblue;
}

h3{
    background-color: black;
    color: #ffffff;
}

.president{
    height: 200px;
    width: 200px;
}

.linkedin{
    height: 50px;
    width: 50px;
}

.instagram{
    height: 50px;
    width: 50px;
}
.img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat' , sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

